<!DOCTYPE html>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link href="../../static/css/style.css" type="text/css" rel="stylesheet" media="all">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


		

		<div class="col-md-12 header">
				<div class="logo">
					<h1><a  href="index.html"><span>Sweet</span>Cruises</a></h1>
					</div>
					<!--navbar-header-->
					<div class="header-dropdown">
						<div class="emergency-grid">
							<ul>
								<li>Toll Free : </li>
								<li class="call">+666 666 666</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
			<nav>
				<ul class="nav nav-tabs " style="text-align: center;    margin: auto auto;    width: 400px;">
					  <li role="presentation" class="active"><a href="#">Cruises</a></li>
					  <li role="presentation"><a href="#">Flights & Hotels</a></li>
					  <li role="presentation"><a href="#">Deals</a></li>
				</ul>
			</nav>
        </div>
		<div class="clearfix" ></div>
		
		<div class="row banner-img" >
	
			<div class="container">
			
				<div class="banner">
					<!-- container -->
					<div class="container " style="margin:50px 0">
						<div class="col-md-6">
						<a href="#"><img alt="direction" usemap="#directions" name="slideShow" width="324" height="432" src="{% static 'img1.jpg' %}" alt="harbour0" /></a>
				

						</div>
						<div class="col-md-6">
							<div class="container" style="padding:10px; background-color:rgba(155,155,155,0.8); width:80%;height:450px;">
							<form action="" method="get">
								<table>
								<tr>
									<td><input type="text" placeholder="Destination" class="typeahead1 input-md form-control tt-input" required=""></td>
								</tr>
								<tr>
									<td><input type="text" placeholder="Cruise Line" class="typeahead1 input-md form-control tt-input" required="">	</td>									</tr>
								<tr>
								<td><input type="text" placeholder="Departure" class="typeahead1 input-md form-control tt-input" required=""></td>
								</tr>
								<tr>
								<td><input type="text" placeholder="Duration" class="typeahead1 input-md form-control tt-input" required=""></td>
								</tr>
								<tr>
								<td colspan="2"><input type="submit" value="Find my cruise"/></td>
								</tr>
								</table>
							</form> 
							</div>
						</div>
							
					
					</div>
				</div>
				
				
			</div>
		</div>

		
		
		
	
	</div>

{% endblock %}



