<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style>
		.col-md-4,.col-md-12,.col-md-6 { text-align:center;}
		.col-md-4 a p { text-align:center;}
	</style>
	</head>
	
<body>
		<div class="row">
	
			<div class="container">
			
					<script type="text/javascript">
			
			var imgArray = new Array(8);
			imgArray[1] = new Image(324,432);
			imgArray[1].src = "{% static 'images/1.jpg' %}";
			for ( var i = 1 ; i <  8 ; i ++) {
				imgArray[i] = new Image();
				imgArray[i].src = "{% static 'images/" + i + ".jpg' %}";
			}
			var imgNr = 1; // All the images must be well named...
			function changePlus(){
				imgNr++;
				document.slideShow.src = imgArray[imgNr].src;
				
				if (imgNr == 8 ){
					imgNr = 1;
				}
				console.log(document.slideShow.src);
				return ;
			}
			function changeMinus(){
				imgNr--;
				document.slideShow.src = imgArray[imgNr].src;
				
				if (imgNr == 1 ){
					imgNr = 8;
				}
				console.log(document.slideShow.src);
				return ;
			}
		</script>
		
	<a href="#"><img alt="direction" usemap="#directions" name="slideShow" width="324" height="432" src="images5.10/harbour0.jpg" alt="harbour0" /></a>
	
		<map name="directions">
			<area shape="rect" coords="0,0,162,432" alt="left" onClick="changeMinus()" >
			<area shape="rect" coords="163,0,324,432" alt="right" onClick="changePlus()" >
		</map>
				<div class="col-md-6">
					<form action="" method="get">
						<table>
						<tr>
						<td><input type="radio" name="location" value="EW"/></td>
						<td>Destination</td>
						</tr>
						<tr>
						<td><input type="radio" name="location" value="S"/></td>
						<td>Scotland</td>
						</tr>
						<tr>
						<td><input type="radio" name="location" value="NI"/></td>
						<td>Northern Ireland</td>
						</tr>
						<tr>
						<td><input type="radio" name="location" value="NI"/></td>
						<td>Northern Ireland</td>
						</tr>
						<tr>
						<td colspan="2"><input type="submit" value="Get Baby Names"/></td>
						</tr>
						</table>
					</form> 
				</div>
				
			</div>
		</div>
	</body>
</html>